body {
  background-color:rgb(188, 219, 218);
  color:black;
  font-family:Verdana,Gevana,Thomas, sans-serif;
  
}
header {
  border-bottom: solid 2px rgb(42, 35, 143);
  padding: 20px;
  font-size: 30px;
  color:black;
}

section {
  background-color: rgb(202, 222, 224);
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
}